In [1]:
import pandas as pd
import numpy as np

In [2]:
def load_data(folder_path):
    datasets = {}
    datasets['contract'] = pd.read_csv(folder_path + 'contract.csv', parse_dates=['EndDate'])
    datasets['personal'] = pd.read_csv(folder_path + 'personal.csv')
    datasets['internet'] = pd.read_csv(folder_path + 'internet.csv')
    datasets['phone'] = pd.read_csv(folder_path + 'phone.csv')
    return datasets


# Pending use
if __name__ == "__main__":
    folder_path = 'files/datasets/input/'
    data = load_data(folder_path)
    contract_data = data['contract']
    personal_data = data['personal']
    internet_data = data['internet']
    phone_data = data['phone']

C:\Users\duca_\AppData\Local\Temp\ipykernel_21784\3805321339.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datasets['contract'] = pd.read_csv(folder_path + 'contract.csv', parse_dates=['EndDate'])

In [3]:
contract_data

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7590-VHVEG,2020-01-01,No,Month-to-month,Yes,Electronic check,29.85,29.85
1,5575-GNVDE,2017-04-01,No,One year,No,Mailed check,56.95,1889.5
2,3668-QPYBK,2019-10-01,2019-12-01 00:00:00,Month-to-month,Yes,Mailed check,53.85,108.15
3,7795-CFOCW,2016-05-01,No,One year,No,Bank transfer (automatic),42.30,1840.75
4,9237-HQITU,2019-09-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,70.70,151.65
...,...,...,...,...,...,...,...,...
7038,6840-RESVB,2018-02-01,No,One year,Yes,Mailed check,84.80,1990.5
7039,2234-XADUH,2014-02-01,No,One year,Yes,Credit card (automatic),103.20,7362.9
7040,4801-JZAZL,2019-03-01,No,Month-to-month,Yes,Electronic check,29.60,346.45
7041,8361-LTMKD,2019-07-01,2019-11-01 00:00:00,Month-to-month,Yes,Mailed check,74.40,306.6
7042,3186-AJIEK,2014-08-01,No,Two year,Yes,Bank transfer (automatic),105.65,6844.5

In [4]:
def unique_values(dataframe):
    for column in dataframe.columns:
        unique_values = dataframe[column].unique()
        print(f"Valores únicos en la columna '{column}':")
        print(unique_values)
        print()

In [5]:
def analyze_dataset(df, name):
    print(f"Análisis del conjunto de datos: {name}\n")
    
    # Información del conjunto de datos
    print("Información del conjunto de datos:")
    print(df.info())
    print("\n")
    
    # Valores únicos en cada columna
    print("Valores únicos en cada columna:")
    unique_values(df)
    print("\n")
    
    # Resumen estadístico
    print("Resumen estadístico:")
    print(df.describe())
    print("\n")
    
    # Conteo de valores nulos
    print("Conteo de valores nulos:")
    print(df.isnull().sum())
    print("\n")
    
    # Filas duplicadas
    print(f"Número total de filas duplicadas en este archivo es de {df.duplicated().sum()} filas.\n")
    
    # Muestra las primeras filas del conjunto de datos
    print("Primeras filas del conjunto de datos:")
    print(df.head(10))
    print("\n")

In [7]:
# Llamada a la función para cada conjunto de datos
analyze_dataset(contract_data, "contract")

Análisis del conjunto de datos: contract

Información del conjunto de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB
None


Valores únicos en cada columna:
Valores únicos en la columna 'customerID':
['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']

Valores únicos en la columna 'BeginDate':
['2020-01-01' '2017-04-01' '2019-10-01' '2016-05-01' '2019-09-01'
 '2019-03-01' '2018-04-01' '2019-04-01' '2017-07-01' '2014-12-01'
 '2019-01-01' '2018-10-01' '2015-04-01' '2015-09-01' '2018-01-01'
 '2014-05-01' '2015-10-01' '2014-03-01' '2018-05-01' '2019-11-01'
 '2019-02-01' '2016-01-01' '2017-08-01' '2015-12-01' '2014-02-01'
 '2018-06-01' '2019-12-01' '2017-11-01' '2019-06-01' '2016-04-01'
 '2017-02-01' '2018-12-01' '2014-04-01' '2018-09-01' '2014-11-01'
 '2016-07-01' '2015-02-01' '2018-07-01' '2014-08-01' '2016-03-01'
 '2018-08-01' '2014-10-01' '2015-06-01' '2016-08-01' '2019-05-01'
 '2017-03-01' '2016-02-01' '2017-09-01' '2014-09-01' '2017-12-01'
 '2016-12-01' '2017-06-01' '2015-05-01' '2016-10-01' '2016-09-01'
 '2019-08-01' '2019-07-01' '2017-05-01' '2017-10-01' '2014-07-01'
 '2018-03-01' '2015-01-01' '2018-11-01' '2015-03-01' '2018-02-01'
 '2016-06-01' '2015-08-01' '2015-11-01' '2014-06-01' '2017-01-01'
 '2015-07-01' '2020-02-01' '2016-11-01' '2013-11-01' '2014-01-01'
 '2013-10-01' '2013-12-01']

Valores únicos en la columna 'EndDate':
['No' '2019-12-01 00:00:00' '2019-11-01 00:00:00' '2019-10-01 00:00:00'
 '2020-01-01 00:00:00']

Valores únicos en la columna 'Type':
['Month-to-month' 'One year' 'Two year']

Valores únicos en la columna 'PaperlessBilling':
['Yes' 'No']

Valores únicos en la columna 'PaymentMethod':
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

Valores únicos en la columna 'MonthlyCharges':
[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]

Valores únicos en la columna 'TotalCharges':
['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']



Resumen estadístico:
       MonthlyCharges
count     7043.000000
mean        64.761692
std         30.090047
min         18.250000
25%         35.500000
50%         70.350000
75%         89.850000
max        118.750000


Conteo de valores nulos:
customerID          0
BeginDate           0
EndDate             0
Type                0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64


Número total de filas duplicadas en este archivo es de 0 filas.

Primeras filas del conjunto de datos:
   customerID   BeginDate              EndDate            Type  \
0  7590-VHVEG  2020-01-01                   No  Month-to-month
1  5575-GNVDE  2017-04-01                   No        One year
2  3668-QPYBK  2019-10-01  2019-12-01 00:00:00  Month-to-month
3  7795-CFOCW  2016-05-01                   No        One year
4  9237-HQITU  2019-09-01  2019-11-01 00:00:00  Month-to-month
5  9305-CDSKC  2019-03-01  2019-11-01 00:00:00  Month-to-month
6  1452-KIOVK  2018-04-01                   No  Month-to-month
7  6713-OKOMC  2019-04-01                   No  Month-to-month
8  7892-POOKP  2017-07-01  2019-11-01 00:00:00  Month-to-month
9  6388-TABGU  2014-12-01                   No        One year

  PaperlessBilling              PaymentMethod  MonthlyCharges TotalCharges
0              Yes           Electronic check           29.85        29.85
1               No               Mailed check           56.95       1889.5
2              Yes               Mailed check           53.85       108.15
3               No  Bank transfer (automatic)           42.30      1840.75
4              Yes           Electronic check           70.70       151.65
5              Yes           Electronic check           99.65        820.5
6              Yes    Credit card (automatic)           89.10       1949.4
7               No               Mailed check           29.75        301.9
8              Yes           Electronic check          104.80      3046.05
9               No  Bank transfer (automatic)           56.15      3487.95

In [ ]:
analyze_dataset(contract_data, "contract")
analyze_dataset(personal_data, "personal")
analyze_dataset(internet_data, "internet")
analyze_dataset(phone_data, "phone")